<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MY FRIDGE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
    		.container {
    	margin-top: 25px;	
    	padding-bottom: 25px;
    	padding-top: 25px;
    	border-radius: 20px 20px;
    	 background-color: #fff9e7;
    	
	    	
    	}
    	
    	body {
    	background-image: url("http://s1.1zoom.me/b5050/82/Geography_Spices_Design_541758_3840x2400.jpg");
    	background-repeat: no-repeat;
    	 background-size: cover;
			    	
    	}
    	
    	td {
   background-color: #fff9e7;
    	
	    	}
	    th {
	   background-color: #fff9e7;
    	
	    
	    }	
    
    </style>
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/itemlist">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/itemlist">Fridge<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="/seasoninglist">seasoning<span class="sr-only">(current)</span></a>
      </li>
      
      
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container">
	<h1>notifications</h1>
    <table class="table table-striped">
    <tbody>
    <tr>
    	<th>Name</th>
    	<th>Message</th>
    	
    	
    	
  	</tr>
			<tr th:each ="seasoning : ${seasonings}">
			
			<div th:if="${seasoning.quan} &lt; 4">
			<td th:text="${seasoning.name}"></td>
			</div>
			
			<div th:if="${seasoning.quan} &lt; 4">
			<td th:text="${seasoning.message}"></td>
			</div>
		
			</tr>	    
    
    </tbody>
    </table>   
    </div>




	



	<div class="container">
	<h1>My seasonings</h1>   
    <table class="table table-striped">
    <tbody>
    <tr>
    	<th>Name</th>
    	<th>quantity /10</th>
    	
    	<th>ex. date</th>
    	<th>Days until ex.</th>
    	<th>Delete</th>
    	<th>Update / View</th>
    	
    	
  	</tr>
			<tr th:each ="seasoning : ${seasonings}">
			<td th:text="${seasoning.name}"></td>
			<td th:text="${seasoning.quan}"   ></td>
			<td th:text="${seasoning.date}"></td>
			<td th:text="${seasoning.eday}"></td>
			<td><a class="btn btn-danger" th:href="@{/deleteseasoning/{id}(id=${seasoning.id})}">Delete</a></td> 
			<td><a class="btn btn-primary" th:href="@{/editseasoning/{id}(id=${seasoning.id})}">Update/View</a></td> 
			</tr>	    
    
    </tbody>
    </table>
    <a class="btn btn-success" href="/addseasoning">Add item</a>   
    </div>
</body>
</html>